@font-face {
    font-family: scoreboard;
    src: url('fonts/segment.ttf');
}

body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    max-height: 100vh;
}

.container-home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
}

.home-title {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    color: white;

}

.home-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 15%;
}

.home-score-container {
    font-family: scoreboard;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #ee3d3d;
    background: black;
    border-radius: 5px;
}

.home-add-one-span {
    font-family: scoreboard;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    text-align: center;

    color: #9AABD8;
}

.home-add-one {
    width: 50px;
    height: 45px;
    left: 82px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;

    background: transparent;
}


.reset-container {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.reset-button {
    width: fit-content;
    height: 45px;
    left: 82px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;

    background: transparent;
}

.reset-button-span {
    font-family: scoreboard;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    text-align: center;

    color: #9AABD8;
}